
<p style="font-family: Courier New">Ask your coach anyhing:</p>
<form action="/answer">
  <input type="text" style="font-family: Calibri" name="question">
  <input type="submit" style="font-family: Calibri" value="Ask">
</form>

